<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}"><img src="\img\aySX_-Qr.jpg" /></a>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\img\BB17i2fa.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Gold rockies</h5>
        <p>The Music are an English alternative rock band, formed in Kippax, Leeds in 1999. Comprising Robert Harvey (vocals, guitar), Adam Nutter (lead guitar), Stuart Coleman (bass) and Phil Jordan (drums), the band came to prominence with the release of their debut album, The Music, in 2002. The band released two further studio albums, Welcome to the North (2004) and Strength in Numbers (2008), before parting ways in 2011</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="img\BB17i5dB.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Metallic Rockers</h5>
        <p>The Music all met at Brigshaw High School, except Phil Jordan who went to Garforth, and began playing in 1999 as Insense. In 2001 the song "Take the Long Road and Walk It" circulated as a demo before being released by Fierce Panda as a 1000-copies-only single, a rarity from its day of release. Around this time NME and Steve Lamacq were describing them as the best unsigned band in Britain. The band were quickly signed by Hut, who released their first EP You Might as Well Try to Fuck Me..</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="\img\BB17ibTU.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>60's Rockers</h5>
        <p>
The 60s are by far one of my favorite decades of music, and in a way, I sometimes enjoy the 60s a lot more than the 70s. The 60s were a lot more experimental and laid the ground work for many of the bands that would start emerging in the early 70s and even bands today are still being influenced by the likes of the Beatles, Rolling Stones, and The Doors. Plus the 60s saw the emergence of some of the greatest genres like blues rock, psychedelic, hard rock, southern rock, and of course progressive rock.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>
    <aside>
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX5uokaTN4FTR" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Id volutpat lacus laoreet non. Blandit aliquam etiam erat velit scelerisque in dictum non. Nibh mauris cursus mattis molestie a iaculis at erat pellentesque. Velit egestas dui id ornare arcu odio ut sem nulla. Sed faucibus turpis in eu mi bibendum neque egestas. Sed odio morbi quis commodo. Vitae justo eget magna fermentum iaculis. Eu non diam phasellus vestibulum lorem sed risus ultricies. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Aliquet risus feugiat in ante metus dictum at. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. Lectus proin nibh nisl condimentum id venenatis a condimentum.

    Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Malesuada nunc vel risus commodo viverra maecenas. Rutrum quisque non tellus orci ac auctor augue mauris. Id faucibus nisl tincidunt eget nullam non nisi est sit. Sed viverra ipsum nunc aliquet. Lectus quam id leo in vitae turpis massa sed elementum. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin. A lacus vestibulum sed arcu non odio euismod lacinia at. Imperdiet nulla malesuada pellentesque elit. Massa tincidunt dui ut ornare. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Amet nisl purus in mollis nunc sed. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. Commodo elit at imperdiet dui accumsan sit amet nulla. Ac tortor vitae purus faucibus ornare suspendisse sed nisi. Nam libero justo laoreet sit amet cursus sit amet dictum. Purus gravida quis blandit turpis. Purus in massa tempor nec feugiat nisl.

    Turpis in eu mi bibendum neque egestas. Diam donec adipiscing tristique risus nec feugiat in fermentum. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Tellus integer feugiat scelerisque varius morbi. Tincidunt eget nullam non nisi est sit. Pellentesque habitant morbi tristique senectus et netus et. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Feugiat in ante metus dictum at tempor commodo ullamcorper. Facilisis volutpat est velit egestas dui id ornare arcu. Gravida rutrum quisque non tellus orci ac auctor. Lectus vestibulum mattis ullamcorper velit. In hendrerit gravida rutrum quisque non. At risus viverra adipiscing at in tellus.</p>
    </aside>
    <footer></footer>
    <script src="{{ '/js/bootstrap.min.js' | url }}"></script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
